:root {
    --color1: #ffdb78;
    --color2: #fff787;
    --color3: #0e2e63;
    --color4: #0d6f6d;
    --color5: #08ba84;
    --color6: #F5F5DC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color6);
}
/* body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.centrado {
    text-align: center;
    font-style: italic;
    font-weight: bold;
} */

/* Encabezado de la pagina */
header {
    background-color: var(--color4);
    color: var(--color1);
    text-align: center;
    padding: 10px 0 0;
}

/* Encabezado - Imagen logo */
.header-top {
    background: var(--color4);
    background-size: cover;
    background-position: center;
    color: var(--color1);
}

.header-top h1, h4 {
    color: var(--color2);
}
.header-top h4 {
    margin: 0;
    font-style: italic;
    font-weight: lighter;
}



.header-logo {
    width: 120px;
    height: auto;
}





/* Barra de navegacion */
nav {
    background: var(--color4);
    padding: 10px;
}
.logo{
    height: 40px;
    width: auto;
}

.navbar-brand:hover, 
.navbar-brand:hover .logo {
    background-color: transparent !important;
    transform: none !important;
    filter: none !important;
    opacity: 1 !important;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


.navbar .nav-link {
    color: var(--color1) !important;
}

.navbar .nav-link:hover {
    color: var(--color5) !important;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: var(--color1);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--color4);
    
}

/* Cuerpo de la pagina */
section {
    padding: 20px;
}

img {
    width: 600px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid var(--color5);
    border-radius: 10px;
}


/* Carrusel de "Acerca de" */
.carousel-item img {
    height: 450px;
    object-fit: cover;
}

/* Tarjetas de "Acerca de" */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.2);
}


/* Pie de pagina */
.footer-content {
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
    background-color: var(--color4);
    color: var(--color1);
    padding: 5px 0;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

.footer-social a i {
    color: var(--color1);
}
.footer-social a:hover i {
    color: var(--color5);
}

/* Formulario */
.form {
    border: 2px solid var(--color4);
    border-radius: 10px;
    padding: 5px 7px;
    margin: 1.5em;
}